body {
  padding: 0;
  margin: 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

/* index.html */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  background-color: #f1f5f7;
}

.header-first-line {
  margin-bottom: 45px;

  font-size: 17px;

  background-color: #293449;
}

.header-first-line .logo,
.footer-first-line .logo {
  width: 220px;

  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.header-first-line .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header-first-line .logo:hover {
  background-color: #ca2c37;
}

.header-first-line .logo:active {
  background-color: #ba2732;
}

.header-first-line .search-text {
  font: inherit;
  color: #000000;

  background-color: transparent;
  border: none;
  outline: none;
}

.header-first-line .search-form {
  width: 270px;
}

.header-first-line .search-text::placeholder {
  color: #ffffff;
}

.header-first-line .search-text:hover,
.header-first-line .tab-link:hover {
  background-color: #212a3a;
}

.header-first-line .search-text:focus {
  background-color: #ffffff;
}

.header-first-line .tabs,
.header-content .user-block,
.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-first-line .tabs {
  width: 450px;
}

.header-first-line .tab-item:nth-child(3) .tab-link {
  background-color: #63a63e;
}

.header-first-line .tab-item:nth-child(3) .tab-link:hover {
  background-color: #5fbb2d;
}

.header-first-line .tab-link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-first-line .tab-item:nth-child(3) .tab-link:active {
  color: rgba(255, 255, 255, 0.51);

  background-color: #518534;
}

.header-first-line .tab-link {
  color: #ffffff;
}

.header-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header-content .title {
  width: 250px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-content .contacts {
  width: 300px;
  margin-left: 70px;
}

.header-content .telephone {
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;

  border: solid 3px #ffffff;
}

.header-content .address {
  font-size: 14px;
  color: #32425c;
}

.header-content .user-block {
  width: 300px;
  margin-left: auto;
}

.header-content .user-block-button {
  font-size: 21px;
  line-height: 25px;
  color: #000000;

  background-color: #ffffff;
}

.header-content .log-in:hover,
.header-content .sign-in:hover {
  color: #ee3643;
}

.header-content .user-block-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-content .user-block-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-content .user-block-link:hover {
  color: #ee3643;
}

.header-content .user-block-link:active {
  opacity: 0.3;
}

.main-header nav {
  padding: 0;
  background-color: #32425c;
}

.main-header .site-navigation-link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-header .site-navigation-link:hover {
  background-color: #293449;
}

.main-header .site-navigation-link:active {
  color: rgba(255, 255, 255, 0.5);
}

.intro .goods {
  margin: 0;
  padding: 0;

  color: #ffffff;

  list-style: none;
}

.intro .goods-item:nth-child(1) {
  background-color: #f6b22d;
}

.intro .goods-item:nth-child(2) {
  background-color: #4aafde;
}

.intro .goods-item:nth-child(3) {
  background-color: #cc79d1;
}

.intro .goods-item:nth-child(5) {
  background-color: #85d179;
}

.intro .goods-item:nth-child(6) {
  background-color: #f6b22d;
}

.intro .goods-title {
  font-size: 24px;
  line-height: 30px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.intro .goods {

}

.intro .goods-item {
  width: 300px;
}

.intro .slider {
  width: 620px;
}

.intro .goods-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.intro .goods-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.intro .goods-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.intro .slide {
  background-color: #aba29a;
}

.intro .slide-title {
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.intro .slide-text {
  font-size: 18px;
}

.popular-goods .goods-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.popular-goods header,
.popular-brands header {
  margin-bottom: 20px;

  background-color: #f7f3ec;
}

.popular-goods .header-title,
.popular-brands .header-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.goods-card {
  width: 220px;
}

.goods-card .title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.goods-card .title span {
  text-transform: uppercase;
}

.goods-card .old-price {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.goods-card .button {
  font-size: 14px;
  line-height: 16px;
}

.goods-card .buy-button {
  background-color: #63a63e;
}

.goods-card .buy-button:hover {
  background-color: #5fbb2d;
}

.goods-card .buy-button:active {
  background-color: #518534;
}

.goods-card .bookmarks-button {
  color: #32425c;

  background-color: transparent;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.goods-card .bookmarks-button:hover {
  border-color: #32425c;
}

.goods-card .bookmarks-button:active {
  opacity: 0.3;
}

.popular-brands .list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  list-style: none;
}

.popular-brands .list-item {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.popular-brands img:active {
  opacity: 0.3;
}

.services {
  background-color: #f2f6f8;
}

.services header {
  padding-top: 65px;
}

.services .header-title {
  font-size: 30px;
  text-transform: uppercase;
}

.services .header-text,
.services-slider .slide-text {
  font-family: 'PT Sans', sans-serif;
}

.services-slider {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 75px;
}

.services-slider .control {
  width: 240px;
}

.services-slider label {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.services-slider label:hover {
  background-color: #293449;
}

.services-slider input:checked + label {
  color: #32425c;

  background-color: #ffffff;
}

.services-slider .content {
  width: 640px;
  margin-left: auto;
}

.services-slider .slide-title {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
}

.info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 85px;
}

.info .about-company {
  width: 540px;
}

.info .title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.info .text {
  font-family: 'PT Sans', sans-serif;
}

.info .transport-company {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.info .contacts {
  width: 300px;
  margin-left: auto;
}

.main-footer {
  color: #ffffff;

  background-color: #32425c;
}

.footer-navigation,
.goods-navigation,
.footer-socials {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-first-line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 25px;
}

.footer-first-line p {
  width: 220px;
}

.footer-first-line .logo {
  font-size: 30px;
}

.footer-navigation {
  margin-left: auto;
  width: 560px;
}

.footer-navigation a {
  color: #ffffff;
  font-size: 18px;
}

.footer-navigation a:hover,
.footer-second-line a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-second-line a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-second-line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 50px;
}

.footer-second-line .contacts {
  width: 380px;

  font-size: 18px;
}

.footer-second-line .goods-navigation {
  width: 540px;
}

.footer-second-line a {
  color: #ffd180;
  font-size: 18px;
}

.footer-third-line {
  padding: 30px 0;
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-socials {
  list-style: none;
}

.footer-socials a {
  color: #ffffff;

  background-color: #212a3a;
}

.footer-socials a:hover,
.footer-socials a:active {
  background-color: #ee3643;
}

.footer-third-line .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.footer-third-line .copyrights {
  width: 300px;
}

.footer-socials {
  width: 160px;
  margin-left: 80px;
}

.footer-third-line .developer {
  width: 310px;
  margin-left: auto;
}

.footer-third-line .developer-links {
  color: #ffd180;
}

.footer-third-line .developer-links td:hover {
  text-decoration: underline;
}

.footer-third-line .developer-links td:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback {
  line-height: 18px;
}

.feedback label {
  font-size: 18px;
}

.feedback input,
.feedback textarea {
  font: inherit;
  font-family: 'PT Sans', sans-serif;


  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback .submit {
  background-color: #f1f1f1;
}

/* catalog.html */

.breadcrumbs {
  padding: 20px 0;

  list-style: none;
}

.breadcrumbs-link {
  font: inherit;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.catalog-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.catalog-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding: 30px 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

.filter {
  width: 220px;

  font-family: 'PT Sans', sans-serif;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter input {
  font: inherit;
}

.filter .title,
.sort-title {
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

.filter-cost .min-price,
.filter-cost .max-price {
  border: none;
  background-color: #f7f3ec;
}

.filter-cost .min-price::placeholder,
.filter-cost .max-price::placeholder {
  color: #000000;
}

.filter-list,
.goods .sort-type,
.goods-list,
.pagination-list {
  list-style: none;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  font: inherit;
  text-transform: uppercase;
  line-height: 18px;

  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.goods {
  width: 700px;
  margin-left: auto;
  margin-bottom: 33px;
}

.goods .sort {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 20px;
}

.goods .sort-title {
  width: 140px;
}

.goods .sort-type {
  width: 380px;
  margin: 0;
  padding: 0;
  margin-left: 100px;

  font: inherit;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  line-height: 18px;
}

.goods .sort-type-arrow {
  width: 60px;
  margin-left: auto;
}

.goods .sort-type-link {
  color: #ee3643;

  opacity: 0.3;
  border-bottom: dotted 1px #ee3643;
}

.goods .sort-type-link_active {
  opacity: 1;
  border: none;
}

.goods .sort-type-link:hover {
  color: #000000;

  opacity: 1;
  border-bottom: solid 1px #ee3643;
}

.goods-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.goods-card {
  width: 220px;
  margin-bottom: 20px;
}

.pagination-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-list a {
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list a:hover {
  border-color: #bdc6ca;
}

.pagination-list a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.post-scriptum {
  padding-bottom: 75px;
  padding-top: 65px;

  background-color: #f2f6f8;
}

.post-scriptum .title {
  margin-bottom: 30px;

  font-size: 30px;
  text-transform: uppercase;
}

.post-scriptum .content {
  font-family: 'PT Sans', sans-serif;
}

.modal-add-goods .title {
  font-size: 30px;
  line-height: 18px;
}

.modal-add-goods .buttons-group {
  background-color: #f1f1f1;
}

.modal-add-goods button {
  color: #000000;

  background-color: #ffffff;
}

.modal-add-goods .close,
.feedback .close {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ee3643;
}
